form {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

